/* Variables */
:root{
    --primary-color: #005792;
    --accent-color:#d1f4fa;
    --dark-color: #08121a;
    --light-color: #edf9fc;
    --grey: rgb(149, 149, 149);

    --spacing: 2rem;
    --half-spacing: 1rem;
}


/* normalized */
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
  }
  
  p {
    font-weight: 300;
    color: #4A4A4A;
  }
  
  a, a:hover {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  hr {
    padding: 1rem 0;
    border: 0;
    border-bottom: 1px solid var(--bg-color);
  }
  
  * {
    box-sizing: border-box;
  }

  figure > img {
    vertical-align: top;
  }

  progress {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    box-sizing: border-box;
    border: 1px solid var(--dark-color);
    background-color: #ffffff;
    box-shadow: 0 0 2px 0px #08121a;
  }

    progress[value]::-webkit-progress-bar {
        background: #ffffff;
    }

    progress[value]::-webkit-progress-value{
        background: #08121a;
        border: 1px solid #08121a;
    }

    progress[value]::-moz-progress-bar {
        background: #08121a;
    }

/* Components */

  body.loading::before {
    content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: var(--light-color);
  }

  body.loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--primary-color);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
  }

  @keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
  }

  /* Video Container */
  .video-container {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }

    .video-container video {
        min-width: 100%; 
        min-height: 100%; 
        
        width: auto;
        height: auto;
        
        position: absolute;
        top: 0;
        left: 0;
    }
  


    .input {
        margin: 0;
        background: var(--dark-color);
        color: var(--light-color);
        border: 0;
        padding: 1.6em;
    }

        .input.expanded {
            width: 100%;
        }

    .input-negative.with-icon {
        position: relative;
    }

        .input-negative.with-icon > .input{
            padding-right: 2.5em;
        }

        .input-negative.with-icon > i {
            position: absolute;
            height: 1em;
            width: 1em;
            top: 1.25em;
            right: 1.5em;
            fill: var(--light-color);
        }

    .im {
        height: 1em;
        width: 1em;    
    }

    .im > svg{
        width: 100%;
        height: 100%;
    }

    /* Video Control */

    .video_controls > p {
        color: var(--light-color);
        font-weight: bold;
        padding: 0;
        margin: 0;
        text-shadow: 0 0 .2em var(--dark-color)
    }

    .video-control {
        fill: var(--light-color);
        width: 100%;
        max-width: 3rem;
        height: auto;
        max-height: 3rem;    
    }

        .svgProgress {
            transform: rotateZ(-90deg);
            transform-origin: center center;
            stroke: var(--light-color);
            fill: none;
            stroke-dashoffset: 23.505396234158834;
            stroke-width: .03em;
            transition: stroke-dashoffset .3s linear;
            stroke-dasharray: 23.505396234158834;
        }

    @media (min-width: 1300px) {
        .video_controls > p {
            transform: rotateZ(90deg);
            transform-origin: left bottom;        
        }
        
    }

    /* Botones */

    .btn {
        background: var(--dark-color);
        color: var(--light-color);
        border: 0;
        text-decoration: none;
        padding: 1.5em;
        cursor: pointer;
        min-height: 1em;
    }

        .btn.expanded {
            width: 100%;
        }

        .btn.big {
            text-transform: uppercase;
        }

        .btn > .im > svg{
            height: 1rem;
            width: 1rem;
            fill: var(--light-color);
        }

    .btn-collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }



  /*Small Cards*/
  .small-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    cursor: pointer;
    z-index: 1000;
  }

    .small-card > .title,.action {
        grid-row: 1/span 1;
        grid-column: 1/-1;
        z-index: 100;
        color: var(--light-color);
        text-shadow: 0 2px .5em var(--dark-color);
        padding: var(--spacing);
        transition: all .3s;
    }

    .small-card > img {
        max-width: 100%;
        image-resolution: cover;
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

        .small-card > .title > *{
            margin: 0;
        }

    .small-card > .action {
        grid-row: 3/span 1;
        opacity: 0;
        background-image: linear-gradient( rgba(0,0,0,0) 10%, var(--dark-color) 130%);
    }

    .small-card > .action > a {
        display: block;
        color: var(--light-color);
        transform: translateY(50%);
        transition: all .3s;
    }

        .small-card:hover > .title {
            background-image: linear-gradient(var(--dark-color) -30%, rgba(0,0,0,0) 90%);
        }

        .small-card:hover > .action {
            opacity: 1;
        }

        .small-card:hover > .action > a {
            transform: translateY(0%);
        }

    /* Tabs */

    .c-tabs > .tabs ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .c-tabs > .tabs a {
        width: 100%;
        display: block;
        cursor: pointer;
        color: var(--grey);
        padding: var(--half-spacing) 0;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 1px solid var(--grey);
        box-sizing: border-box;
        position: relative;
        transition: all .2s;
    }


    .c-tabs > .tabs a::after {
        content: '';
        display: block;
        height: 3px;
        bottom: -2px;
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        transition: transform .3s;
        transform-origin: center right;
    }

    .c-tabs > .tabs a.selected {
        color: var(--dark-color);
    }

        .c-tabs > .tabs a.selected::after {
            background: var(--dark-color);
            transform-origin: center left;
            transform: scaleX(1);
        }

    .c-tabs > .tab-contents {
        overflow: hidden;
        transition: all .15s ease-in-out;
    }

        .c-tabs > .tab-contents > .tab-content {
            display: none;
        }

            .c-tabs > .tab-contents > .tab-content.selected {
                display: block;
                animation: tabContentIn .3s ease-in;
            }

            .c-tabs > .tab-contents > .tab-content.deselected {
                display: block;
                opacity: 0.5;
                animation: tabContentOut .3s ease-in;
                animation-direction: reverse;
            }


    @keyframes tabContentIn {

        0% {
            opacity: 0;
            transform: translateX(50%);
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }

    }

    @keyframes tabContentOut {

        0% {
            opacity: 0;
            transform: translateX(-50%);
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }

    }


    /* Panel */
    .panel {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        grid-gap: var(--spacing);
    }

        .panel > .panel-item  h4{
            color: var(--dark-color);
            text-transform: uppercase;
            margin: 0;
            padding-top: 1em;
            line-height: 1.6;
        }

        .panel > .panel-item p {
            margin: 0;
            line-height: 1.6;
        }

    /* Gallery */

    .gallery {
        padding-top: var(--spacing);
        margin-top: var(--spacing);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }

        .gallery-item {
            cursor: pointer;
            position: relative;
        }

        .gallery-item > figure {
            margin: 0;
            width: 100%;
            position: relative;
            margin-bottom: 0;
        }

        .gallery-item > figure img {
            width: 100%;
            line-height: 1;
        }

        .gallery-item figcaption {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: auto;
            background: var(--dark-color);
            color: var(--light-color);
            padding: 1.6em;
            opacity: 0;
            transition: all .3s;
            text-transform: uppercase;
        }

        .gallery-item:hover figcaption{
            opacity: 1;
        }

        @media (min-width: 1300px) {

            .gallery-item figcaption {
                position: relative;
                transform: translateY(-100%);
                transition: opacity .3s ease-in-out, transform .3s;
            }

            .gallery-item:hover figcaption {
                transform: translateY(0);
            }
        
        }

    /* Carrusel */

    .carrusel {
        overflow: hidden;
    }

        .carrusel.out .slider-item.selected .card-figure {
            
            transform-origin: right center;
            transform: scaleX(0);
            transition: transform .35s;

            
            /*transform-origin: right center;
            animation: slider-enterPicture .35s ease-in-out;
            animation-direction: reverse;*/
        }

        .carrusel.out .slider-item.selected .card-info{
            transform-origin: left center;
            transform: translateX(-20%);
            opacity: 0;
            transition: transform .35s,
                        opacity .35s;
        }

        .carrusel.out .slider-item.prev {
            transform: translateX(-100%);
            transition: translateX .35s;
        }

        .carrusel.out .slider-item.next {
            transform: translateX(100%);
            transition: translateX .35s;
        }


        .slider-item {
            display: none;
        }

        .slider-item.selected {
            display: block;
            overflow: hidden;
        }

            .slider-item.selected .card-figure{
                transform-origin: left center;
                animation: slider-enterPicture .5s ease-in-out;
            }

            .slider-item.selected .card-info{
                padding: var(--spacing);
                transform-origin: left center;
                animation: slider-enterArt .5s ease-in-out;
            }

        .slider-item.prev,.slider-item.next {
            display: block;
            position: relative;
            cursor: pointer;
            animation: slider-next .5s ease-in-out;
        }

        .slider-item.prev {
            animation: slider-prev .5s ease-in-out;
        }

        .slider-item.prev:hover::before,.slider-item.next:hover::before {
            color: var(--primary-color);
        }

        .slider-item.prev::after,.slider-item.next::after {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            bottom: 0;
            background: rgba(255, 255, 255, 0.54);
        }


        .slider-item.prev::before,.slider-item.next::before {
            position: absolute;
            content: attr(data-title);
            display: block;
            color: var(--light-color);
            transition: color .3s ease;
            z-index: 2;
            text-shadow: 0 0 .2em var(--dark-color);
        }

        .slider-item.prev > .offer-desteny-card,.slider-item.next > .offer-desteny-card{
            display: block;
        }

        .slider-item.prev .card-figure,.slider-item.next .card-figure {
            object-fit: cover;
        }

        .slider-item.prev > .offer-desteny-card > .card-info,
        .slider-item.next > .offer-desteny-card > .card-info {
            display: none;
        }

        @keyframes slider-enterPicture {
            0% {
                opacity: 0;
                transform: scaleX(0);
            }
            30%{
                opacity: .2;
                transform: scaleX(0);
            }
            100% {
                opacity: 1;
                transform: scaleX(1);
            }
        }

        @keyframes slider-enterArt {
            0% {
                opacity: 0;
                transform: translateX(20%);
            }
            30%{
                opacity: 0;
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }

        @keyframes slider-next {
            0%{
                transform: translateX(100%);
            }
            100%{
                transform: translateX(0);
            }
        }

        @keyframes slider-prev {
            0%{
                transform: translateX(-100%);
            }
            100%{
                transform: translateX(0);
            }
        }




    @media(min-width: 1300px) {
        .slider-item.prev .card-figure,.slider-item.next .card-figure{
            transform: scaleY(.85) translateX(-400%);
            transform-origin: bottom;
        }

        .slider-item.next .card-figure {
            transform: scaleY(.85);
        }

        .slider-item.prev::after,.slider-item.next::after {
            height: 85.5%;
        }

        .slider-item.prev::before,.slider-item.next::before {
            width: 365%;
            text-align: center;
            transform: rotateZ(90deg);
            transform-origin: bottom left;
            position: absolute;
            top: 15%;
            z-index: 1;
            left: 60%;
        }

        .slider-item.next::before {
            transform: rotateZ(270deg);
            transform-origin: bottom left;
            bottom: 0;
            left: 400%;
        }

        .slider-item.prev .card-figure > img,.slider-item.next .card-figure > img {
            width: 500%;
        }
    }

        

    /* offer-desteny-card */

    .offer-desteny-card {
        display: grid;
        grid-gap: var(--spacing);
    }

        .offer-desteny-card >.card-figure {
            padding: 0;
            margin: 0;
        }

            .offer-desteny-card >.card-figure > img {
                width: 100%;
            }

        .offer-desteny-card >.card-info {
            line-height: 1.6;
            display: grid;
            grid-gap: .5em;
            grid-template-columns: 3fr 2fr;
        }

        .offer-desteny-card >.card-info > * {
            grid-column: 1/-1;
        }

        .offer-desteny-card >.card-info > .title {
            font-size: 1.5em;
            margin: 0;
        }

        .offer-desteny-card >.card-info > .subtitle {
            text-transform: uppercase;
            color: var(--grey);
            margin: 0;
            font-size: 1rem;
        }

        .offer-desteny-card > .card-info > .rating progress {
            margin: 0;
            border: 0;
            color: var(--dark-color);
            appearance: none;
        }

        .offer-desteny-card > .card-info > .characteristics {
            display: flex;
            flex-wrap: wrap;
            margin: 0 calc(var(--half-spacing) * -1);
        }

            .offer-desteny-card > .card-info > .characteristics > div{
                display: flex;
                padding: 0 var(--half-spacing);
            }

            .offer-desteny-card > .card-info > .characteristics .im {
                width: 2rem;
                padding-right: var(--half-spacing);
            }

        .offer-desteny-card >.card-info >.btn.big {
            grid-column: 1/2;
        }

/* Sections */

  .menu div {
      text-align: left;
  }


  .top-destiny{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: var(--spacing);
  }

  .offer-desteny {
    background: linear-gradient(#ffffff 0%,#ffffff 93%, var(--accent-color) 93%);
    padding: 4rem 0;
  }

  .all-desteny {
    background-color: var(--accent-color);
    background: linear-gradient(var(--accent-color) 0%,var(--accent-color) 79.5%, #ffffff 79.6%);
    display: grid;
    grid-template-columns: var(--spacing) 1fr var(--spacing);
  }

    .all-desteny > .container {
        grid-column: 2/-2;
        padding-top: var(--spacing);
        padding-bottom: var(--spacing);
    }

        .all-desteny  header > h1 {
            font-weight: 300;
            margin: 0;
            line-height: 1.6;
            font-size: 3rem;
        }

        .all-desteny  header > span {
            color: var(--grey);
            text-transform: uppercase;
            font-weight: bold;
        }

    .footer {
        display: grid;
        padding-top: 6rem;
        grid-template-columns: repeat(13,1fr);
    }

        .footer > .main-footer {
            grid-column: 2/-2;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            padding-bottom: calc(var(--spacing) * 2);
        }


            .footer > .main-footer > div {
                display: grid;
                grid-gap: var(--half-spacing);
                align-content: start;
            }

            .main-footer h6{
                color: var(--grey);
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1rem;
                margin: 0;
            }

            .main-footer ul{
                margin: 0;
                padding: 0;
                list-style: none;
            }

                .main-footer ul > li,a {
                    color: var(--primary-color);
                    font-weight: bold;
                    padding: var(--half-spacing) 0;
                }

            .main-footer p {
                color: var(--dark-color);
                line-height: 1.6;
                margin: 0;
            }


/* Layout */

.main-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80vh 20vh 0px auto;
    grid-auto-rows: auto;
}

    .header {
        grid-column: 1/-1;
        grid-row: 1/span 3;
        display: grid;
        grid-template-rows: auto minmax(0,1fr);
    }

        .menu {
            background: var(--dark-color);
            padding: var(--half-spacing);
            color: var(--light-color);
            grid-row: 1/span 1;
            grid-column: 1/span 1;
            z-index: 100;
            cursor: pointer;
        }

            .menu > div {
                color: var(--light-color);
                background: transparent;
                border: 0;
                width: 100%;
                height: 100%;
                text-transform: uppercase;
            }

            .menu > div .im > svg {
                width: 1em;
                height: 1em;
                fill: var(--light-color);
            }

        .cover { 
            background: var(--primary-color);
            grid-row: 1/-1;
            grid-column: 1/-1;
            display: grid;
            grid-template-columns: var(--spacing) repeat(3,1fr) var(--spacing);
            grid-template-rows: 50% 50%;
            align-content: center;
            justify-content: center;
        }

            .cover > .video-container {
                grid-column: 1/-1;
                grid-row: 1/-1;
            }

            .cover > .brand {
                grid-column: 2/-2;
                grid-row: 1/-1;
                z-index: 1;
                align-self: center;
                color: var(--light-color);

                font-size: 3rem;
                text-transform: uppercase;
                font-weight: bold;
            }

                .cover > .brand span {
                    font-weight: 100;
                }

            .cover .video_controls {
                display: none;
            }

    
    .secondBar {
        grid-column: 1/span 1;
        grid-row: 2/span 1;
        display: flex;
        align-items: flex-end;
        z-index: 100;

        display: flex;
    }

        .secondBar > .input-negative {
            flex-grow: 1;
        }

    .top-destiny{
        grid-column: 1/-1;
        grid-row: 3/span 2;
        grid-gap: 0;
    }

    .offer-desteny > .slider .carrusel {
        display: grid;
        grid-gap: var(--spacing);
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-template-rows: auto 4rem;
    }

        .carrusel > .slider-item.prev {
            grid-column: 1;
            grid-row: 2;
        }

        .carrusel > .slider-item.selected {
            grid-column: 1/-1;
            grid-row: 1/span 1;
        }

        .carrusel > .slider-item.next {
            grid-column: 2;
            grid-row: 2;
        }

@media (min-width: 800px) {

    .header {
        grid-template-columns: repeat(11, minmax(0,1fr));
    }

        .header > .menu {
            grid-column: 1/span 2;
        }

        .cover > .brand {
            grid-column: 2/span 2;
        }

        .cover .video_controls { 
            display: block;
            grid-column: 4/span 1;
            grid-row: 1/-2;
            z-index: 1;
            align-self: center;
        }

    .secondBar {
        grid-column: 2/-2;
        display: grid;
        grid-template-columns: 5fr 6fr;
    }



    .offer-desteny-card {
        grid-template-columns: repeat(11, minmax(0,1fr));
        grid-gap: 0;
    }
        .offer-desteny-card >.card-figure {
            grid-column: 1/6;
        }

        .offer-desteny-card >.card-info {
            grid-column: 7/-1;
        }
}


@media (min-width: 1300px) {

    .main-content {
        grid-template-columns: repeat(13,1fr);
        grid-template-rows: 70vh 20vh 10vh auto;
    }

        .header {
            grid-template-columns: repeat(13, minmax(0,1fr));
        }

            .header > .menu {
                grid-column: 1/span 3;
                padding: 0;
            }

                .header > .menu > div {
                    display: grid;
                    grid-template-columns: repeat(3,minmax(0,1fr));
                    align-items: center;
                    padding: 0;
                }

                .header > .menu > div::before {
                    display: block;
                    content: ' ';
                }

                .header > .menu > div span {
                    padding: var(--half-spacing) 0;
                    text-align: left;
                }

                .cover {
                    grid-template-columns:repeat(13, minmax(0,1fr));
                    grid-template-rows: 50vh 30vh 20vh;
                }

                .cover .brand {
                    grid-column: 2/span 6;
                    grid-row: 2/span 1;
                    align-self: start;
                }

                .cover .video_controls {
                    grid-column: -3/span 1;
                    justify-self: right;
                    position: relative;
                    left: 3rem;
                }

        .secondBar {
            grid-template-columns: 3fr 8fr;
            grid-template-rows: auto;
            grid-gap: 0;
        }
        
        .top-destiny {
            grid-column: 2/-1;
        }

        .offer-desteny{
            grid-column: 1/-1;
            padding: 6rem 0 8rem;
            background: linear-gradient(#ffffff 0%,#ffffff 75.5%, var(--accent-color) 75.6%);
        }

            .offer-desteny > .slider .carrusel {
                grid-template-columns: repeat(13,minmax(0,1fr));
                grid-gap: 0;
            }

                .carrusel > .slider-item.prev {
                    grid-column: 1/span 1;
                    grid-row: 1/span 1;
                }

                .carrusel > .slider-item.selected {
                    grid-column: 2/-2;
                    grid-row: 1/span 1;
                }

                .carrusel > .slider-item.next {
                    grid-column: 13/span 1;
                    grid-row: 1/span 1;
                }
            

        .all-desteny {
            grid-column: 1/-1;
            grid-template-columns: repeat(13,minmax(0,1fr));
        }

        .footer {
            grid-column: 1/-1;
        }

            .footer > .main-footer {
                grid-template-columns: repeat(22, minmax(0, 1fr));
            }

            .main-footer > * {
                grid-column: span 5;
            }

            .main-footer > div:last-child {
                grid-column: span 7;
            }

}


#mainMenu {
    position: fixed;
    background: var(--primary-color);
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    color: var(--accent-color);
    text-align: center;
    font-size: 1.5rem;
    display: flex;

    transform: translateY(-100%);
    opacity: .2;

    transition: transform .3s ease-in-out,
                opacity .2s;
}

#mainMenu.open {
    transform: translateY(0%);
    opacity: 1;
}

#mainMenu > .insideMenu {
    margin: auto;
    width: 90%;
}

#mainMenu ul {
    list-style: none;
    padding: 0;
}

#mainMenu span {
    font-size: .75em;
}

#mainMenu a {
    color: var(--accent-color);
    text-decoration: underline;
}

#mainMenu > .floatMenu {
    position: absolute;
    width: 32px;
    fill: var(--accent-color);
    right: 7%;
}

/* https://dribbble.com/shots/2872615-Summer-Vibes/attachments/592852 */